@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap')
$saturatedRed: hsl(0, 36%, 70%)
$softRed: hsl(0, 93%, 68%)
$grayRed: hsl(0, 6%, 24%)
$lightGardient: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%))
$midGardient: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%))
$heavy: 600
$mid: 400
$light: 300
$inputTextSize: 1rem

html
    height: 100%

body
    font-size: 16px
    font-family: Josefin Sans, sans-serif
    margin: 0
    min-height: 100%

h1
    margin: 0
    font-size: 4em
    letter-spacing: 12px

::placeholder
    color: $saturatedRed
    font-weight: $mid
    font-size: $inputTextSize
    padding: 10px

/* FORM STYLING
form
    display: flex
    flex-direction: row
    border: 1px solid $saturatedRed
    border-radius: 25px
    height: 40px
    width: 90%

input
    flex-grow: 2
    border: none
    margin: 10px
    :focus
        outline: none

button
    background: $midGardient
    border-radius: 16px
    width: 20%
    border: 20px



/* LAYOUT STYLING
.column
    display: flex
    flex-direction: column
    flex-basis: 100%
    flex: 1

.container
    margin: 50px 75px 50px 150px

.input-column
    height: 500px

.row
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%

.cta
    padding-right: 50px

/* .wrapper

/* IMAGE STYLING
.logo
    width: 30%

.photo
    height: 100%

/* TEXT STYLING

.soft-text
    color: $softRed
    font-weight: $light

.saturated-text
    color: $saturatedRed
    font-weight: $mid
    margin-bottom: 30px
    line-height: 30px

.rounded-input
    font-size: $inputTextSize
























